
.App {
  text-align: center;
}
body{
	/*background-color: #CDC7D9;*/
	background: url('./images/mtrainier.png') no-repeat center center fixed;
	background-size: cover;
	/*background-image: url('./images/mtrainier.png');*/

	/*background-size: cover;*/
/*	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;*/

}


.App-header {
  color:#333;
  padding: 1em 0 0 0.5em;
  text-align: left;
  /*margin-bottom:2em;*/
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcomeCenter {

	background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding:0;

}

.row_card_resource{
  display: flex;
}

.allcards{
	min-height: 15vh;
	min-width: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

 

.chatCenter {

	background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding:0;
  width: 100vw;
 
}
#chatWindow {
	height:25em;
}


nav {
  width: 100%;
  padding: 10px 0;
  /*bottom*/
  position: fixed;
  bottom: 0;
  z-index: 2;
  justify-content:space-evenly;
  background-color: #CDC7D9;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  /*color: white;*/
  color:#333;
  cursor: pointer;
}

nav a:hover {
  color: #522888;
}

.links {
	color:green;
}
.noGlow, textarea, select, input, button { outline: none; }

.{
	margin: 1em 0em;
}
.text-left{
	text-align: left;
}

h5 {
	font-weight: 400;
}
.topContent{
	margin-top: 10em;
}
.bottomContent{
	margin-top: 6em;
}
label {
	font-size: 2em;
	font-weight: 200;
}
.thin, h1, p, h2, h3, h4, h5, h6 {
	font-weight: 200;

}

input, textarea {
	margin-bottom: .5rem;
}
.center {
	text-align: !important center;
}
.circle{
	border-radius: 9rem;
	height:9rem;
	width: 9rem;
	margin: .5rem 0rem;
	border: 0;
	/*box-shadow: 1px 1px 4px .2px;*/
}
.secondary {
	background-color: #522888;
}
.title{
	margin: 3em 1em 2em 1em;
	text-align: left;
}
.mainContainer{
	margin-bottom: 5em;
}

.logo-font {
	font-family: 'Nanum Pen Script', cursive;

}

.logo{
	max-height: 50px;
}
.b1{
	background-image: url('./images/b1.png');
	color:black;
}
.b2{
	background-image: url('./images/b2.png');
	color:black;
}
.b3{
	background-image: url('./images/b3.png');
	color:black;
}
.b4{
	background-image: url('./images/b4.png');
	color:black;
}
.b5{
	background-image: url('./images/b5.png');
	color:black;
}
.b6{
	background-image: url('./images/b6.png');
	color:black;
}